body
{
    margin: 0;
    font-family: Rockwell;
    height: 100%;
    width: 100%;
    position: static;
    background-image: url("../images/spotlight-03-NR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.index-h1
{
    position: absolute;
    top: 300px;
    left:400px;
}
.index-para
{
    position:relative;
    top:400px;
    left:400px;

}

.index-hr
{
    position: absolute;
    padding: 0;
    height: 0;
    width: 60%;
    max-height: 0;
    font-size: 5px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    top: 400px;
    left: 400px;
}

.button-menu
{
    font-size: 24px;
    font-family: Rockwell;
    background-color: slategrey;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.button-menu:hover
{
    background-color: cadetblue;
    color: white;
}

.menu-h1
{
    position: absolute;
    top: 300px;
    left:400px;
}

.menu-table
{
    width: 100%;
    position: absolute;
    top: 400px;
    left: 400px;

}

.menu-td, .menu-th
{
    border: 1px solid black;
    text-align: left;
    /*padding: 8px;*/
    padding: 5px 8px 5px 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.menu-tr
{
    background-color: white;
}