<!DOCTYPE html> <!--LUCA-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--implementering af Thymeleaf-->
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/> <!-- Reference til den eksterne CSS-->
</head>
<body>
<div class="index-h1">          <!-- Når der står class=... er det for at definerer elementer for CSS'en-->
<h1>Madmor til 30</h1>
</div>
<hr class="index-hr"> <!-- indfører en lige linje på hjemmesiden-->
<div class="index-para">
<p>
    <a href="/mealMenu">            <!-- Knap der linker til en anden HTML side-->
        <button class="button-menu"> Måltidsmenu</button>
    </a>
</p>
    <br>
<p>
    <a href="/eventMenu">
        <button class="button-menu"> Event-menu</button>
    </a>
</p>
    <br>
<p>
    <a href="/add-onMenu">
        <button class="button-menu"> Tilkøbsmenu</button>
    </a>
</p>
    <br>
<p>
    <a href="/mealPackageMenu">
        <button class="button-menu"> Måltidskasse-menu</button>
    </a>
</p>
    <br>
</div>

<hr class="index-hr2">

</body>
</html>