<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<div class="index-h1">
<h1>Madmor til 30</h1>
</div>
<hr class="index-hr">
<div class="index-para">
<p>
    <a href="/mealMenu">
        <button class="button-menu"> Måltidsmenu</button>
    </a>
</p>
<p>
    <a href="/eventMenu">
        <button class="button-menu"> Event menu</button>
    </a>
</p>
<p>
    <a href="/add-onMenu">
        <button class="button-menu"> Tilkøbs menu</button>
    </a>
</p>
<p>
    <a href="/mealPackageMenu">
        <button class="button-menu"> Måltids kasse menu</button>
    </a>
</p>
</div>

</body>
</html>