<!DOCTYPE html> <!--LUCA LASSE-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<h1 class="måltidsoversigt-h1">Måltidsoversigt</h1>
<hr class="måltids-hr">
<div class="details-para"> <!-- div med paragraphs der viser fields for det valgte meal. Thymeleaf syntax.-->
<p th:text="'Navn: ' + ${meal.name}"> </p>
<p th:text="'Type: ' + ${meal.mealType}"> </p>
<p th:text="'Beskrivelse: ' + ${meal.description}"> </p>
<p th:text="'Leverings dato: ' + ${meal.date}"> </p>
<p th:text="'Elementer: ' + ${meal.elements}"> </p>
</div>
<p>

    <a href="/mealMenu">
        <button class="button-måltidsmenu"> Måltidsmenu</button>
    </a>
</p>
<hr class="måltids-hr1">
</body>
</html>