<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<div class="menu-h1">
<h1>Måltidsmenu</h1>
</div>
<hr class="menu-hr">

<p>
    <a href="/mealAdd">
        <button class="button-menu-add btn"> Tilføj måltid</button>
    </a>
</p>

<table>
    <thead>

    <tr>

        <th>Name</th>
        <th>Type</th>
        <th>Date</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="meal: ${meals}">

        <td th:text="${meal.name}"> </td>
        <td th:text="${meal.mealType}"> </td>
        <td th:text="${meal.date}"> </td>

        <td>
            <a th:href="@{'/mealDetails?id='+${meal.id}}">
                <button class="button-detaljer btn">Detaljer</button>
            </a>
            <a th:href="@{'/mealUpdate?id='+${meal.id}}">
                <button class="button-opdater btn">Opdater</button>
            </a>
            <a th:href="@{'/mealDelete?id='+${meal.id}}">
                <button class="button-slet btn">Slet</button>
            </a>
        </td>

    </tr>
    <hr class="menu-hr2">
    </tbody>
</table>

</body>
</html>