<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<h1 class="indhold-h1">Indhold</h1>
<hr class="kasse-hr">
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Adresse</th>
        <th>Måltids navn</th>
        <th>Måltids elementer</th>
        <th>Antal voksen portioner</th>
        <th>Antal børne portioner</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mealOrder: ${mealOrders}">
        <td th:text="${mealOrder.firstName + ' ' +  mealOrder.lastName}"> </td>
        <td th:text="${mealOrder.address}"> </td>
        <td th:text="${mealOrder.mealName}"> </td>
        <td th:text="${mealOrder.mealElements}"> </td>
        <td th:text="${mealOrder.numberOfAdults}"> </td>
        <td th:text="${mealOrder.numberOfChildren}"> </td>
    </tr>
    </tbody>
</table>

<a href="/mealPackageMenu">
<button class="button-kassemenu">Måltidskasse menu</button>
</a>

<a href="/">
    <button class="button-hovedmenu">Hoved menu</button>
</a>
<hr class="indhold-hr">
</body>
</html>