<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<h1 class="update-h1">Opdater måltids informationer</h1>
<hr class="update-hr">
<div class="update-form">
<form action="/mealUpdate" th:each="meal: ${meal}" method= "post">
    <label>Navn:</label>
    <input type="hidden" th:field="${meal.id}"/>
    <input type="text" th:field="${meal.name}" value="${meal.name}" required="true"/>
    Kategori: <select name="mealType">
    <option value="1">Vegetarisk</option>
    <option value="2">Vegansk</option>
    <option value="3">Kød</option>
    <option value="4">Fisk</option>
</select>
    <label>Beskrivelse:</label>
    <input type="text" th:field="${meal.description}" value="${meal.description}" required="true"/>
    <label>Dato:</label>
    <input type="date" th:field="${meal.date}" value="${meal.date}" required="true"/>
    <label>Elementer:</label>
    <input type="text" th:field="${meal.elements}" value="${meal.elements}" required="true"/>
    <input class="button-update" type="submit" value="Opdater"/>
</form>
</div>
<p>
    <a href="/mealMenu">
        <button class="button-måltidsmenu-update"> Måltids menu</button>
    </a>
</p>
<hr class="update-hr2">
</body>
</html>