<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<h1> Måltidskasse Menu</h1>

<table>
    <thead>
    <tr>
        <th>Kundenavn</th>
        <th> Kundeadresse </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.fullName}"> </td>
        <td th:text="${customer.adress}"> </td>


        <td>
            <a th:href="@{'/mealPackageContent?id='+${customer.id}}">
                <button>Bestillingsindhold</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>
<a href="/">
    <button>Hovedmenu</button>
</a>
</body>
</html>