<!DOCTYPE html> <!--LASSE LUCA-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>
</head>
<body>
<h1 class="måltidskasse-menu-h1"> Måltidskasse Menu</h1>
<hr class="kasse-hr">
<table class="kasse-table">
    <thead>
    <tr>
        <th>Kundenavn</th>
        <th> Kundeadresse </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.fullName}"> </td>
        <td th:text="${customer.adress}"> </td>


        <td>
            <a th:href="@{'/mealPackageContent?id='+${customer.id}}">
                <button class="button-indhold">Bestillingsindhold</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>
<a href="/">
    <button class="button-hovedmenu">Hovedmenu</button>
</a>
<hr class="kasse-hr2">
</body>
</html>